.title{
  h1{
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    font-family: almarai;
  }
}
#subtypes input[type=radio] {

  display: inline;
  font-size: 2rem;
}
label{
  display: block;
}

#types{
  display: flex;
  flex-flow: column nowrap;
  margin: 1.3rem 0;
}

#type{
  width: 100%;
}

.type-in-container{
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

#subtypes{
  padding: .5rem 1rem;
  animation: show 1s ease-in-out;
}

@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

input[type=date]{
  background-color: #fff;
}

input[type=radio]{
  height: 1.5rem;
  width: 1.5rem;
  accent-color:darkblue;
  margin-left: 1rem;
  align-self: center;
  vertical-align: bottom;
  
}

.add-page{
  color: antiquewhite;
  font-size: x-large;
  font-family: 'cairo';
  background-color: rgba(0, 0, 0, 0.479);
  margin: 20px auto;
  border-radius: 1rem;
  width: 700px;
}
@media screen and (max-width:768px) {
  .add-page{
    width: 400px;
  }
}
@media screen and (max-width:480px) {
  .add-page{
    width: 300px;
  }
}

header{
  font-size: xx-large;
  text-align: center;
}
#container{
padding: 1rem;
}
@media screen and (max-width:480px) {
  #container{
    padding: 1rem 0;
  }
}

input,select{
  display: block;
  margin: .5rem 0;
  padding: 0 20px;
  height: 40px;
  width: 70%;
  max-width: 300px;
  border-radius: 1rem;
  border: none;
}

form{
  padding: 1rem;
}

#btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

button{
  background-color:darkblue;
  color:whitesmoke ;
  cursor: pointer;
  font-weight: bold;
  border-radius: .5rem;
  margin: 1rem 0;
  padding:.6rem 0;
  width: 100%;
  border-style: none;
  font-size: 1.2rem;
}

button:hover{
  filter: brightness(2);
}

@media (max-width:768px) {
  #page{
    width: 90%;
  }
}