<div id="container">
  <ul id="ulist">
    <li id="header">
      <a (click)="close()" routerLink="/">
        <div class="photo">
          <img src="./../../../assets/mahfazty.png" alt="alo" />
        </div>
      </a>
    </li>
    <li></li>
    <li id="nav-bar"  #navIconEl>
      <div id="nav">
        <div class="bars-container" (click)="showNav()">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul id="list" dir="rtl">
          <li>
            <a (click)="close()" routerLink="dashboard">
              اضافة
              <i class="fas fa-plus-circle"></i>
            </a>
          </li>

          <li class="out">
            <a (click)="close()" routerLink="/expenses">
              مصاريفى
              <i class="fas fa-money-bill-wave"></i>
            </a>
          </li>

          <li class="in">
            <a (click)="close()" routerLink="/income">
              دخلى
              <i class="fas fa-hand-holding-usd"></i>
            </a>
          </li>
          <li>
            <a (click)="close()" routerLink="/wallet">
              محفظتى
              <i class="fas fa-wallet"></i>
            </a>
          </li>
          <li *ngIf="!currentUser?.token">
            <a (click)="close()" routerLink="/login" id="login">
              تسجيل الدخول
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li *ngIf="currentUser?.token">
            <a (click)="close()" routerLink="/" id="login" (click)="logout()">
              تسجيل الخروج
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div #overLayEl *ngIf="navShow" class="overlay" (click)="close()" ></div>
