<div id="page" *ngIf="loaded">
    <div id="subExpense">
    <div class="title">
      <h2>محفظتى</h2>
    </div>
    <div class="filter">
    
      <input
        type="month"
        name=""
        id="filter-date"
        #date
        (change)="filterDate(date.value)"
      />
    </div>
    <div class="heads">
      <button id="in" class="container" dir="rtl" (click)="filter('دخل')">
        <bdi>دخل</bdi>
      </button>

      <button id="out" class="container" dir="rtl" (click)="filter('صرف')">
        <bdi>صرف</bdi>
      </button>
    </div>
  </div>

  <div class="page-container">
  


    <div id="detailsContainer" *ngIf="pageExpenses.length != 0 " @dropInStagger>

  
      <div
      @waveStagger
        [class.rotate]="toogle[i]"
        id="details"
        *ngFor="let expense of pageExpenses; index as i"
      >
        <div @dropInStagger (click)="show(i)" class="content" *ngIf="!toogle[i]">
          <div class="content" *ngIf="!toogle[i]">
            <div id="namew">{{ expense.name }}</div>
            <div id="currency" dir="rtl">{{ expense.amount | currency }}</div>
          </div>
        </div>
        <div class="btn-container">
          <button id="delete-btn" (click)="delete(expense, i)">ازالة</button>
          <button id="add-btn" (click)="add(expense)">ادخال</button>
        </div>

        <div @waveStagger (click)="show(i)" class="subhide" *ngIf="toogle[i]">
          <div id="subExpense">{{ expense.subType }}</div>
          <div id="date">{{ expense.date | date : "d/MM/y" }}</div>
        </div>
      </div>
      <div class="pages-btn" *ngIf="pagesArray.length>0">
        <button
          *ngFor="let page of pagesArray; let i = index"
          (click)="getItemsPerPage(i)"
        >
          {{i + 1}}
        </button>
      </div>
    </div>
    <div @shake class="no-exp" style="text-align: center;" *ngIf="pageExpenses.length === 0 && loaded">
      لا توجد معاملة هذا الشهر حتى الان
      من هذا النوع 

   </div>
  </div>
</div>
