
<div id="page" @fadeSlide>
  
  <div dir="ltr" id="container">
    <header>تسجيل الدخول</header>
    <form [formGroup]="loginForm">
      <div class="in">
        <label for="email"> E-mail</label>
        <input placeholder="a@mail.com " id="email" formControlName="email" />
        <div *ngIf="fc['email'].errors && sumbitted" class="error">
          <p *ngIf="fc['email'].errors['required']">*يجب ادخال البريد</p>
          <p *ngIf="fc['email'].errors['email']">*يجب ادخال بريد صحيح</p>
        </div>
      </div>

      <div class="in">
        <label for="pass"> Password</label>
        <input
          type="password"
          (copy)="preventAction($event)"
          (cut)="preventAction($event)"
          (paste)="preventAction($event)"
          placeholder="ادخل كلمة السر"
          id="pass"
          formControlName="password"
        />
        <div *ngIf="fc['password'].errors && sumbitted" class="error">
          <p *ngIf="fc['password'].errors['required']">*يجب ادخال كلمة السر</p>
          <p *ngIf="fc['password'].errors['pattern']">
            *يجب ادخال رقم , حرف و 8 حروف على الأقل
          </p>
        </div>
      </div>
      <div id="btn-container">
        <button type="submit" (click)="submit()">ادخال</button>
      </div>
    </form>

    <div id="register">
      <span> لا تملك حساب؟</span>
      <span id="down"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#F3F3F3"
        >
          <path
            d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"
          /></svg
      ></span>
      <a routerLink="/register"> انشاء حساب جديد </a>
    </div>
  </div>
</div>
