<div id="page" *ngIf="loaded">
  <div id="subExpense">
       <div class="title">
      <h2>مصاريفى</h2>
    </div>
    <div class="filter">
  
 
      <input
        type="month"
        name=""
        id="filter-date"
        #date
        (change)="filterDate(date.value)"
      />
    </div>
    <div class="heads">
      <button class="container" dir="rtl" (click)="filter('personal')">
        <bdi>مصروفات شخصية </bdi>
        <section>{{ totalSum[0] | currency }}</section>
      </button>
      <button class="container" dir="rtl" (click)="filter('charity')">
        <bdi>زكاة مال </bdi>
        <section>{{ totalSum[1] | currency }}</section>
      </button>
      <button class="container" dir="rtl" (click)="filter('home')">
        <bdi>مصاريف بيت </bdi>
        <section>{{ totalSum[2] | currency }}</section>
      </button>
    </div>
  </div>
    <div class="no-exp" *ngIf="pageExpenses.length === 0">
      لا توجد معاملة هذا الشهر حتى الان
      من هذا النوع 

   </div>

  <div id="detailsContainer" *ngIf="loaded" @listAnimation>
    <div
    @listAnimation
      (click)="show(i)"
      [class.rotate]="toogle[i]"
      id="details"
      *ngFor="let expense of pageExpenses; index as i"
       >
      <img src="../../../assets/egp.png" />
      <div class="content" *ngIf="!toogle[i]">
        <div>{{ expense.name }}</div>
        <div id="currency">{{ expense.amount | currency }}</div>
      </div>

      <div class="subhide" *ngIf="toogle[i]">
        <div id="subExpense">{{ expense.subType }}</div>
        <div id="date">{{ expense.date | date : "d MMMM , y" }}</div>
      </div>
    </div>
  

    <div class="pages-btn" *ngIf="pagesArray.length > 0">
      <button
        *ngFor="let page of pagesArray; let i = index"
        (click)="getItemsPerPage(i)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>

  <div id="chart" *ngIf="loaded" class="in">
    <ngx-charts-advanced-pie-chart
      dir="ltr"
      [view]="view"
      [scheme]="'horizon'"
      [results]="single"
      [gradient]="gradient"
      [label]="'مصاريفى'"
    >
    </ngx-charts-advanced-pie-chart>
  </div>
</div>
